In [4]:
#using support vector machine

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split #for ease
from sklearn.feature_extraction.text import TfidfVectorizer #to extract features from text
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score


#Data PreProcessing
dataSet = pd.read_csv('C:\\Users\MAVERICK\Downloads\spam.csv',encoding='latin1') #if gives error it means it has null values

#so replace null values with string
dataSet1 = dataSet.where((pd.notnull(dataSet)),'')

dataSet1.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [5]:
dataSet1.shape

(5572, 5)

In [6]:
dataSet2 = dataSet1.drop(columns = ['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)
print(dataSet2.head())
dataSet2.shape

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

(5572, 2)

In [8]:
#rename features
dataSet2 = dataSet2.rename(columns = {'v1':'Category','v2':'Message'})
dataSet2.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [9]:
#labeling Spam/Ham
dataSet2.loc[dataSet2['Category']=='spam', 'Category',] = 0
dataSet2.loc[dataSet2['Category']=='ham', 'Category',] = 1

#now labling these 2 columns as X and Y
X = dataSet2['Message']
Y = dataSet2['Category']