In [1]:
import pandas as pd

In [2]:
dataSet = pd.read_csv('C:\\Users\MAVERICK\Downloads\spam.csv',encoding='latin1') #if gives error it means it has null values

#so replace null values with string
dataSet1 = dataSet.where((pd.notnull(dataSet)),'')

dataSet1.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,