In [1]:
#using support vector machine

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split #for ease
from sklearn.feature_extraction.text import TfidfVectorizer #to extract features from text
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score


#Data PreProcessing
dataSet = pd.read_csv('C:\\Users\MAVERICK\Downloads\spam.csv',encoding='latin1') #if gives error it means it has null values

#so replace null values with string
dataSet1 = dataSet.where((pd.notnull(dataSet)),'')

dataSet1.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [2]:
dataSet1.shape

(5572, 5)

In [3]:
dataSet2 = dataSet1.drop(columns = ['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)
print(dataSet2.head())
dataSet2.shape

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

(5572, 2)

In [4]:
#rename features
dataSet2 = dataSet2.rename(columns = {'v1':'Category','v2':'Message'})
dataSet2.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
#labeling Spam/Ham
dataSet2.loc[dataSet2['Category']=='spam', 'Category',] = 0
dataSet2.loc[dataSet2['Category']=='ham', 'Category',] = 1

#now labling these 2 columns as X and Y
X = dataSet2['Message']
Y = dataSet2['Category']
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ÃŒ_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [6]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [15]:
#spliting data into test and train
X_train,X_test,Y_train,Y_test =train_test_split(X,Y, train_size=0.8, test_size =0.2,random_state = 3)

In [17]:
#now features Extraction
#transforming text data to feature vectors to be input of SVM
#first always convert text dat in lower case
featureExtraction = TfidfVectorizer(min_df =1, stop_words = 'english', lowercase='True')
#storing train and test subjects in this function
X_trainFeatures = featureExtraction.fit_transform(X_train)
X_testFeatures = featureExtraction.transform(X_test)

#now converting Y into int to work on

Y_train =Y_train.astype('int')
Y_test =Y_test.astype('int')

In [18]:
#finally training the model using the features variable
ourModel = LinearSVC()
ourModel.fit(X_trainFeatures, Y_train)

LinearSVC()

In [21]:
#now check how well the model perform
#first just check on already trained daata i.e. prediction on training data
predictionTrainingdata = ourModel.predict(X_trainFeatures)
ourAccuracy = accuracy_score(Y_train, predictionTrainingdata)
print(ourAccuracy)

0.9995512676688355

In [23]:
#now prediction on test data
predictionTestdata = ourModel.predict(X_testFeatures)
ourAccuracy = accuracy_score(Y_test, predictionTestdata)
print(ourAccuracy)

0.9856502242152466

In [32]:
#fun part check model by putting a random mail to test
yourMail = ["Dear Abdul Wajid, Thank you for being a part of the DeepLearning.AI community.In 2020, we expanded our curriculum by adding programs that focussed on conceptual foundations of AI in Natural Language Processing and applications of AI in the medical industry, in the area of Generative Adversarial Networks, and with the TensorFlow framework. Take a look"]

#first convert it to features vertors
yourMailFeatures = featureExtraction.transform(yourMail)
#than feed to model
predictionYourmail = ourModel.predict(yourMailFeatures)

if (predictionYourmail[0] == 0):
    print("Its a spam mail")
else:
    print("Its a ham mail")

Its a ham mail